@font-face {
    font-family: vazir;
    font-weight: 400;
    font-style: normal;
    src: url("./Vazir-Regular.woff") format("woff");
}

@font-face {
    font-family: vazir;
    font-weight: 700;
    font-style: normal;
    src: url("./Vazir-Bold.woff") format("woff");
}
body,button{
    font-family: vazir;
}
h1,h2,h3{
    font-family: vazir;
}
